html, body {
  font-size: 15px;
}

body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  text-rendering: optimizeLegibility;
  padding: 2em;
}

a {
  cursor: pointer !important;
}

h2.ui.banner {
  color: #444;
  margin-bottom: 0;
}

h2.ui.banner > a {
  color: #444;
}

h3.ui.sub-banner {
  color: #666;
  margin-top: 0;
}

span.scan-date {
  color: dimgray;
  font-size: 80%;
  margin-left: 0.5em;
}

span.private {
  font-style: italic;
  margin-left: 0.5em;
}

.ui.deck.table thead tr th {
  padding: .4em .6em;
}

.ui.deck.table thead tr td {
  border-top-width: 0px;
}

.ui.deck.table tbody tr td {
  padding: .2em .6em;
  border-top-width: 0px;
}

.ui.deck.table tbody tr:first-child td {
  padding-top: .6em;
}

.ui.deck.table tbody tr:last-child td {
  padding-bottom: .6em;
}
