<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <title>donkey townsfolk{{if $.Subtitle}}: {{$.Subtitle}}{{end}}</title>

  <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700%7COpen+Sans:300italic,400,300,700" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.0.1/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="/static/style.css">
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.0.1/semantic.min.js"></script>
  <script type="text/javascript" src="/static/script.js"></script>

  <script type="text/javascript">
  $(function() {
    $('#sign-in').form({
      
      name: {
        identifier : 'username',
        rules: [
          {
            type   : 'empty',
            prompt : 'Please enter a username'
          }
        ]
      },

      password: {
        identifier : 'password',
        rules: [
          {
            type   : 'empty',
            prompt : 'Please enter a password'
          }
        ]
      },

    }, { inline: true, on: 'submit' });

    $('#create-account').form({
      
      name: {
        identifier : 'username',
        rules: [
          {
            type   : 'empty',
            prompt : 'Please enter a username'
          }
        ]
      },

      password: {
        identifier : 'password',
        rules: [
          {
            type   : 'empty',
            prompt : 'Please enter a password'
          }
        ]
      },

      passconfirm: {
        identifier : 'passconfirm',
        rules: [
          {
            type   : 'match[password]',
            prompt : 'Your passwords don\'t match'
          }
        ]
      }

    }, { inline: true, on: 'submit' });

    $('#change-password').form({
      
      password: {
        identifier : 'password',
        rules: [
          {
            type   : 'empty',
            prompt : 'Please enter a password'
          }
        ]
      },

      passconfirm: {
        identifier : 'passconfirm',
        rules: [
          {
            type   : 'match[password]',
            prompt : 'Your passwords don\'t match'
          }
        ]
      }

    }, { inline: true, on: 'submit' });

    $('#add-deck').form({
      
      name: {
        identifier : 'name',
        rules: [
          {
            type   : 'empty',
            prompt : 'Please enter a deck name'
          }
        ]
      },

      price: {
        identifier : 'price',
        rules: [
          {
            type   : 'integer',
            prompt : 'Please enter a dollar amount (no decimal point)'
          }
        ]
      }

    }, { inline: true, on: 'submit' });

    $('#sign-in-link').click(function() { 
      $('#sign-in')
        .modal({
          onApprove: function() {
            return false; // no need to ever close on OK - we'll post the form when it has been validated
          }
        })
        .modal('show'); 
      return false;
    });

    $('#create-account-link').click(function() { 
      $('#create-account')
        .modal({
          onApprove: function() {
            return false; // no need to ever close on OK - we'll post the form when it has been validated
          }
        })
        .modal('show'); 
      return false;
    });

    $('#change-password-link').click(function() { 
      $('#change-password')
        .modal({
          onApprove: function() {
            return false; // no need to ever close on OK - we'll post the form when it has been validated
          }
        })
        .modal('show'); 
      return false;
    });

    $('#delete-user-link').click(function() { $('#delete-user').modal('show'); return false; });

    $('#add-deck-link').click(function() { 
      $('#add-deck')
        .modal({
          onApprove: function() {
            return false; // no need to ever close on OK - we'll post the form when it has been validated
          }
        })
        .modal('show'); 
      return false;
    });

    $('#info-hide-button').click(function() { $('#info-row').fadeOut(); return false; });
    $('#error-hide-button').click(function() { $('#error-row').fadeOut(); return false; });

    $('#search-box').keypress(function (e) {
      if (e.which == 13) {
        $('#search-icon').click();
        return false;  
      }
    }); 
    $('#search-icon').click(function() { 
      var s = encodeURIComponent($('#search-box').val());
      if (s === '') {
        window.location.href = "/"; 
      } else {
        window.location.href = "/?search=" + s; 
      }
      return false; 
    });

    // select and focus the search box on page load
    $('#search-box').select();
    $('#search-box').focus();
  });
  </script>

</head>

<body>
  <div class="ui page grid">

    <div class="row">
      <div class="column">
        <h2 class="ui center aligned banner header"><a href="/">donkey townsfolk</a></h2>
        <h3 class="ui center aligned sub-banner header">price limited deck tracker</h3>
      </div>
    </div>

    {{if $.InfoMessage}}
    <div id="info-row" class="row">
      <div class="column">
        <div class="ui message">
          <i id="info-hide-button" class="close icon"></i>
          <div class="header">
            {{$.InfoMessage}}
          </div>
        </div>
      </div>
    </div>
    {{end}}

    {{if $.ErrorMessage}}
    <div id="error-row" class="row">
      <div class="column">
        <div class="warning ui message">
          <i id="error-hide-button" class="close icon"></i>
          <div class="header">
            {{$.ErrorMessage}}
          </div>
        </div>
      </div>
    </div>
    {{end}}

    <div class="row">
      <div class="column">
        <div class="ui menu">
          <div class="item">
            <div class="ui transparent icon input" action="/" method="post">
              <input id="search-box" name="search" type="text" placeholder="Search decks..." value="{{$.SearchText}}">
              <i id="search-icon" class="search link icon"></i>
            </div>
          </div>
          <div class="right menu">
            {{if $.User}}
            <div class="ui dropdown item">
              <i class="list layout icon"></i> Decks
              <div class="menu">
                <a class="item" href="/?user={{$.User.NormalizedName}}"><i class="list layout icon"></i> My Decks</a>
                <a id="add-deck-link" class="item">
                  <i class="add icon"></i> New Deck
                </a>
              </div>
            </div>
            <div class="ui dropdown item">
              <i class="user icon"></i> {{$.User.Name}}
              <div class="menu">
                <a class="item" href="/logout"><i class="sign out icon"></i> Sign Out</a>
                <a id="change-password-link" class="item"><i class="setting icon"></i> Change Password</a>
                <a id="delete-user-link" class="item"><i class="red ban icon"></i> Delete Account</a>
              </div>
            </div>
            {{else}}
            <a id="sign-in-link" class="item">
              <i class="user icon"></i> Sign In
            </a>
            <a id="create-account-link" class="item">
              Create Account
            </a>
            {{end}}
          </div>
        </div>
      </div>
    </div>
